.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.namescontainer, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}